<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="chngDet">ChangeDetection WithOnpush</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" routerLink="chngDet2">ChangeDetection WithInputs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="chngDet3">ChangeDetection DatasharingCDRef</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="creation">Creating a signal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="update">updateing a signal</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="update1">updateing a Object signal </a>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="todolist">Todolist signal </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="computed">Computed signal </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="effect">Effects signal </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="untrack">Untracked signal </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart">Cart using signal </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="link">linked signal </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="obsToSignal">Observable to Signal </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="filter">Product Filter using Signal </a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Observable
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="obs">Observable</a></li>
            <li><a class="dropdown-item" routerLink="obs1">Obs Creation</a></li>
            <li><a class="dropdown-item" routerLink="obs2">Obs Subscribing</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" routerLink="obs3">Pipe and Map</a></li>
            
          </ul>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Observable2
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
          <li><a class="dropdown-item" routerLink="obs4">Take</a></li>
            <li><a class="dropdown-item" routerLink="obs5">TakeLast</a></li>
            <li><a class="dropdown-item" routerLink="obs7">TakeUntil</a></li>
            <li><a class="dropdown-item" routerLink="obs30">TakeWhile</a></li>
            <li><a class="dropdown-item" routerLink="obs6">Skip</a></li>
          </ul>
        </li>
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Observable3
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            
            <li><a class="dropdown-item" routerLink="obs8">Throttle</a></li>
            <li><a class="dropdown-item" routerLink="obs9">Debounce</a></li>
            <li><a class="dropdown-item" routerLink="obs31">DebounceTime</a></li>
            <li><a class="dropdown-item" routerLink="obs10">Ajax</a></li>
            <li><a class="dropdown-item" routerLink="obs11">HigherOrdFun</a></li>
          </ul>
        </li>
             
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Observable4
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="obs12">MergeMap</a></li>
           <li><a class="dropdown-item" routerLink="obs13">ConcatMap</a></li>
           <li><a class="dropdown-item" routerLink="obs14">ExhaustMap</a></li>
           <li><a class="dropdown-item" routerLink="obs15">SwitchMap</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Observable5
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="obs16">Subjects</a></li>
            <li><a class="dropdown-item" routerLink="obs17">Share</a></li>
            <li><a class="dropdown-item" routerLink="obs18">Behaviour Subj</a></li>
             <li><a class="dropdown-item" routerLink="obs19">Reply Subj</a></li>
             <li><a class="dropdown-item" routerLink="obs20">Async Subj</a></li>
            
          </ul>
        </li>
          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Observable6
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="obs21">CatchError</a></li>
            <li><a class="dropdown-item" routerLink="obs22">Retry</a></li>
            <li><a class="dropdown-item" routerLink="obs23">CombineLatest</a></li>
            <li><a class="dropdown-item" routerLink="obs24">Concat</a></li>
            <li><a class="dropdown-item" routerLink="obs25">ForkJoin</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"  id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Observable7
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="obs26">Merge</a></li>
            <li><a class="dropdown-item" routerLink="obs27">Partition</a></li>
            <li><a class="dropdown-item" routerLink="obs28">Race</a></li>
            <li><a class="dropdown-item" routerLink="obs29">Zip</a></li>
            <li><a class="dropdown-item" routerLink="obs32">DistinctUntilChg</a></li>
          </ul>
        </li> -->
      </ul>
     
    </div>
  </div>
</nav>